

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<main>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a routerLink="/inicio"> TV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
           
                                                                                     
          </li>
        </ul>
      </div>
    </div>
</nav>
  <div class="card mb-9">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ nombre }}</h5>
          <p class="card-text">{{ descripcion }}</p>
        </div>
      </div>
    </div>
    <article>
      <section class="listado-apply">
        <h2 class="section-heading" >Modificar programa</h2>
        <form  id="formT" [formGroup]="updateForm" (submit)="modificar()" >
          <label for="programName">Nombre del programa:</label>
          <input type="text" id="programName" formControlName="programName">
          <br>
          <label for="descripcion">Descripcion:</label>
          <input type="text" id="descripcion" formControlName="descripcion">
          <br>
          <label for="lunes">Lunes (Formato -> 01 , 15, 24)</label>
          <input type="text" id="dia1" formControlName="dia1">
          <br>
          <label for="martes">Martes</label>
          <input type="text" id="dia2" formControlName="dia2">
          <br>
          <label for="miercoles">Miércoles</label>
          <input type="text" id="dia3" formControlName="dia3">
          <br>
          <label for="jueves">Jueves</label>
          <input type="text" id="dia4" formControlName="dia4">
          <br>
          <label for="viernes">Viernes</label>
          <input type="text" id="dia5" formControlName="dia5">
          <br>
          <label for="sabado">Sábado</label>
          <input type="text" id="dia6" formControlName="dia6">
          <br>
          <label for="domingo">Domingo</label>
          <input type="text" id="dia7" formControlName="dia7">
          <button type="submit" class="primary" id="b">Modificar</button>
          <button (click)="eliminar()" routerLink="/inicio"  type="button" class="btn btn-danger">Eliminar</button>
          </form>
      </section>
    </article>
  </div>
 
</main>